body
{
    background-color: lightgrey;
}

.style_1
{
    background-color: darkred;
    width: 600px;
    text-align: center;
    margin-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.style_2
{
    background-color: white;
    width: 600px;
    height: 760px;
    text-align: center;
    margin-left: 1em;
    padding-top: 1em;
    overflow: auto;
}

.style_3
{
    background-color: darkred;
    width: 150px;
    height: 200px;
    text-align: center;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    border-width: 100px;
    border-color: black;
}

.style_4
{
    background-color: darkred;
    width: 150px;
    padding-bottom: 1em;
    padding-top: 1em;
    display: inline-block;
    margin-left: 1em;
    text-align: center;
}

.style_5
{
    background-color: darkred;
    width: 150px;
    padding-bottom: 1em;
    padding-top: 1em;
    display: inline-block;
    text-align: center;
}